#sidebar .sidebar-profile .sidebar-profile-name {
    color: #373737;
    background-color: rgba(249, 249, 249, 0.92);
    font-weight: 800;
}

#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
    color: #373737;
    background-color: rgba(255, 255, 255, 0.865);
    font-weight: 600;
}

@media only screen and (min-width: 1280px) {
    #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-bio,
    #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-job,
    #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-location {
        color: #373737;
        background-color: rgba(255, 255, 255, 0.92);
        font-weight: 500;
    }
}